In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/search_queries.csv')

In [3]:
df.head()

,worker_id,task_id,task_response_id,query,intent,query_date_time
0,4TNHZX6VKQAA,65ec35f1-e6cf-4cf5-95a0-bb6b67a0ac57,2e046eac-1662-4aa8-b227-da955bfb5975,Kahana Point,I wanted to see if there was a trail at Kahana...,6/11/22 15:11:00
1,Y72KN4H9FMJJ,0cb2e5b9-0694-4d59-97c5-8fcba24c1980,5ab8ba2b-0bc7-458c-bdd7-d5ee50c6c429,ibuprofen 800mg side effects,I'm trying to find the side effects for the me...,6/11/22 08:29:00
2,6CNHTCG6W6XM,b93e587c-2642-4692-b5ea-c0e3675c0f7b,cbe17eb7-253f-4141-a2c8-b59eebd73369,asics sandals,I was looking for a particular footwear that I...,6/10/22 19:24:00
3,X6P6DQRXD62A,6a2a9140-03dc-4dba-b4cb-899dd72d1658,f1ad8817-4e77-4cb4-9988-8dcb35213bb8,Forewarned,"I was looking up the video game titled ""Forewa...",6/11/22 18:56:00
4,X6P6DQRXD62A,c778c206-688d-42a8-a177-883755c194e4,d1d734a1-c1c5-4c74-9e7e-e2a3a3be37c7,LOLTNA History,TNA was a pro wrestling league with a reputati...,6/09/22 23:34:00

In [5]:
df['query_date_time'] = pd.to_datetime(df['query_date_time'], format='%m/%d/%y %H:%M:%S')

In [6]:
df_clean = df.copy()

In [7]:
df_clean.drop(columns=['worker_id', 'task_id', 'task_response_id'], inplace=True, axis=1)

In [8]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   query            547 non-null    object
 1   intent           547 non-null    object
 2   query_date_time  547 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 12.9+ KB

In [9]:
df_clean.isnull().sum()

query              0
intent             0
query_date_time    0
dtype: int64

In [10]:
df_clean.duplicated().sum()

0

In [11]:
df_clean.to_csv('cleaned_data/df_clean.csv', index=False)